html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

*:focus {
    outline: none;
}

* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
    letter-spacing: 1px;
}

body {
	background-color: #181818;
	font-size: 14px;
	min-width: 720px;
}

.logo {
    margin-bottom: 15px;
}

.logo img {
    width: 32px;
}

.navBar .group {
    border-top: 1px solid #a0a0a0;
    padding: 10px 0;
}

.navItem {
	padding: 10px 0;
	font-size: 14px;
	font-weight: 700;
	display: block;
	letter-spacing: 1px;
	position: relative;
}

.navItemLink {
    color: #a0a0a0;
    text-decoration: none;
}

